* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

header {


    background-color: #020202;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    padding: 0px 20px;
    border-bottom: solid black;
    border-top: solid black;
}

nav {

    display: flex;
    gap: 150px;

}

nav a {

    text-decoration: none;
    color: #C00808;
    font-size: 30px;  


}

.two-column-container{

    display: flex;
    justify-content: space-between;

}


.column-width40 {

    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #7c7c7c;
    height: 90vh;


}

.column-width60 p {

    max-width: 45vw;
    font-size: 21px;
    color: whitesmoke;


}

.column-width40 img {

    width: 35vw;
    border-radius: 10px;
    

}

.column-width60 {

    display: flex;
    width: 60vw;
    background-color: #727272;
    flex-direction: column;
    padding: 60px;
    height: 90vh;
    align-items: center;
}

.column-width60 img {
    width: 300px;
    margin-bottom: 10vh;
}

.kemi {

    display: flex;
    justify-content: space-around;
    padding-top: 10vh;
    align-items: center;
    background-color: #727272;
    padding-bottom: 2.5vh;

}

.kemi div img {

    width: 300px;

}

.kemi p {

    font-size: 21px;
    max-width: 30vw;
    text-align: center;
    color: whitesmoke;
}

.biologi {

    display: flex;
    justify-content: space-around;
    padding-top: 2.5vh;
    align-items: center;
    background-color: #7c7c7c;
    padding-bottom: 2.5vh;
}

.biologi div img {

    width: 300px;
}

.biologi p {

    font-size: 21px;
    max-width: 30vw;
    text-align: center;
    color: whitesmoke;
}


.fysik {

    display: flex;
    justify-content: space-around;
    padding-top: 2.5vh;
    align-items: center;
    background-color: #727272;
    padding-bottom: 2.5vh;
}

.fysik div img {

    width:  300px;

}

.fysik p {

    font-size: 21px;
    max-width: 30vw;
    color: whitesmoke;
    text-align: center;
}

.rubrik {

    text-align: center;
    padding-top: 5vh;
    background-color: #727272;
    font-size: 5vh;
}

